<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Form</title>
</head>

<body>
    <h1>Payment Form</h1>
    <form action="/submit-payment-form" th:object="${paymentForm}" method="post">

        <!-- CSRFトークン -->
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

        <!-- OrderProduct データを隠しフィールドとして追加 -->
        <input type="hidden" name="priceId" th:value="${orderProduct.priceId}" />
        <input type="hidden" name="quantity" th:value="${orderProduct.quantity}" />

        <label for="email">Email:</label>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red"></div>
        <input type="email" id="email" name="email" th:field="*{email}">
        <br><br>

        <label for="cardNumber">Card Number:</label>
        <div th:if="${#fields.hasErrors('cardNumber')}" th:errors="*{cardNumber}" style="color:red"></div>
        <input type="text" id="cardNumber" name="cardNumber" th:field="*{cardNumber}">
        <br><br>

        <label for="expMonth">Expiration Month:</label>
        <div th:if="${#fields.hasErrors('expMonth')}" th:errors="*{expMonth}" style="color:red"></div>
        <input type="number" id="expMonth" name="expMonth" min="1" th:field="*{expMonth}">
        <br><br>

        <label for="expYear">Expiration Year:</label>
        <div th:if="${#fields.hasErrors('expYear')}" th:errors="*{expYear}" style="color:red"></div>
        <input type="number" id="expYear" name="expYear" min="1" th:field="*{expYear}">
        <br><br>

        <label for="cvc">CVC:</label>
        <div th:if="${#fields.hasErrors('cvc')}" th:errors="*{cvc}" style="color:red"></div>
        <input type="text" id="cvc" name="cvc" th:field="*{cvc}">
        <br><br>

        <label for="cardHolder">Card Holder:</label>
        <div th:if="${#fields.hasErrors('cardHolder')}" th:errors="*{cardHolder}" style="color:red"></div>
        <input type="text" id="cardHolder" name="cardHolder" th:field="*{cardHolder}">
        <br><br>

        <label for="country">Country:</label>
        <div th:if="${#fields.hasErrors('country')}" th:errors="*{country}" style="color:red"></div>
        <input type="text" id="country" name="country" th:field="*{country}">
        <br><br>

        <button type="submit">決済する</button>
    </form>

    <a th:href="@{/product-selection}">商品選択</a>
</body>


</html>