<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user-profile</title>
</head>

<body>
    <h1>ユーザー情報更新</h1>

    <form th:action="@{/user-profile/update}" th:object="${userDTO}" method="post">
        <div>
            <label for="name">名前:</label>
            <input type="text" id="name" th:field="*{name}" />
        </div>
        <div>
            <label for="email">メールアドレス:</label>
            <input type="email" id="email" th:field="*{email}"readonly />
        </div>
        <div>
            <label for="password">パスワード:</label>
            <input type="password" id="password" th:field="*{password}" />
        </div>
        <div>
            <button type="submit">更新</button>
        </div>
    </form>

    <form th:action="@{/user-profile/delete}" method="post">
        <button type="submit">アカウント削除</button>
    </form>

    <a href="/top">戻る</a>
</body>

</html>